<div class="outer-container">
    <h2>Relatório Geral de Etiquetas</h2>
    <div id="totalTagsDistintas">
        <h4>Número de Etiquetas Distintas: {{ dataSourceTabelaDistintas.data.length }}</h4>
    </div>
    <div class="table-container">
        <mat-form-field id="filtroTabelaDistintas">
            <mat-label>Filtro para Tabela</mat-label>
            <input #filtroTabela matInput (keyup)="applyFilter($event)" placeholder="Ex.: <Etiqueta_Buscada>" #input>
        </mat-form-field>
        <div class="mat-elevation-z8">
            <table #elemTabelaDistintas mat-table [dataSource]="dataSourceTabelaDistintas" matSort>
                
                <!-- Position Column -->
                <ng-container matColumnDef="tag">
                    <th mat-header-cell *matHeaderCellDef> Etiqueta </th>
                    <td mat-cell *matCellDef="let element"> {{element.tag}} </td>
                    <td mat-footer-cell *matFooterCellDef> Total (Todas as Páginas) </td>
                </ng-container>
                
                <!-- Name Column -->
                <ng-container matColumnDef="quantidade">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantidade </th>
                    <td mat-cell *matCellDef="let element"> {{element.quantidade}} </td>
                    <td mat-footer-cell *matFooterCellDef> {{getTotalTags()}} </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="colunasTabelaDistintas"></tr>
                <tr mat-row *matRowDef="let row; columns: colunasTabelaDistintas;"></tr>
                <tr mat-footer-row *matFooterRowDef="colunasTabelaDistintas"></tr>
                
                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">Etiqueta "{{input.value}}" não encontrada.</td>
                </tr>
            </table>
            <mat-paginator #paginatorTabelaDistintas
                        id="paginator" [pageSize]="defaultPageSize" 
                        [pageSizeOptions]="[5, 10, 20]" 
                        showFirstLastButtons></mat-paginator>
        </div>
    </div>
    <canvas #tagsDistintasGraf id="canvas"></canvas>
</div>
