<div class="form">
<form [formGroup] = "concordForm" (submit)="submit()">
    <div class="input-file">
        <button class="form-field" type="button" mat-raised-button (click)="fileInput.click()">Escolher Arquivo</button>
        <input hidden (change)="onChangeUploadTextButton($event)" #fileInput type="file" id="file"/>
        <mat-form-field class="form-field">     
            <mat-label>Arquivo</mat-label>
            <input #fileNameField  id="fileName" matInput formControlName="arquivo" readonly/>
            <mat-error *ngIf="concordForm.controls.arquivo.touched && concordForm.controls.arquivo.invalid">
                <span *ngIf="concordForm.controls.arquivo.errors.required">Campo Obrigatório</span>
                <span *ngIf="concordForm.controls.arquivo.errors.textExtensionValidator">Tipo de Arquivo Inválido.</span>
            </mat-error>
        </mat-form-field>
        <mat-icon (click)="onClickDeleteIcon(fileInput.id);" class="delete-icon" svgIcon="xIcon"></mat-icon>
    </div>
    <div class="input-file">
        <button class="form-field" type="button" mat-raised-button (click)="videoInput.click()">Escolher Vídeo</button>
        <input hidden (change)="onChangeSelectVideoButton($event)" #videoInput type="file" id="videoFile">
        <mat-form-field class="form-field">     
            <mat-label>Vídeo</mat-label>
            <input matInput formControlName="video" readonly/>
            <mat-error *ngIf="concordForm.controls.video.touched && concordForm.controls.video.invalid">
                <span *ngIf="concordForm.controls.video.errors.required">Campo Obrigatório</span>
            </mat-error>
        </mat-form-field>
        <mat-icon (click)="onClickDeleteIcon(videoInput.id)" class="delete-icon" svgIcon="xIcon"></mat-icon>
    </div>
    <mat-form-field class="form-field">
        <mat-label>Token a Buscar</mat-label>
        <input matInput formControlName="token"/>
        <mat-error *ngIf="concordForm.controls.token.touched && concordForm.controls.token.invalid">
            <span *ngIf="concordForm.controls.token.errors.required">Campo Obrigatório</span>
        </mat-error>
    </mat-form-field>
    <div class="number-selectors">
    <mat-form-field class="form-field">
        <mat-label>Tokens à Esquerda</mat-label>
        <input matInput type="number" min="1" formControlName="tokensEsquerda"/>
        <mat-error *ngIf="concordForm.controls.tokensEsquerda.touched && concordForm.controls.tokensEsquerda.invalid">
            <span *ngIf="concordForm.controls.tokensEsquerda.errors.required">Campo Obrigatório</span>
            <span *ngIf="concordForm.controls.tokensEsquerda.errors.min">Valor deve ser maior ou igual a {{ concordForm.controls.tokensEsquerda.errors.min.min }} </span>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field number-selector">
        <mat-label>Tokens à Direita</mat-label>
        <input matInput type="number" min="1" formControlName="tokensDireita"/>
        <mat-error *ngIf="concordForm.controls.tokensDireita.touched && concordForm.controls.tokensDireita.invalid">
            <span *ngIf="concordForm.controls.tokensDireita.errors.required">Campo Obrigatório</span>
            <span *ngIf="concordForm.controls.tokensDireita.errors.min">Valor deve ser maior ou igual a {{ concordForm.controls.tokensDireita.errors.min.min }} </span>
        </mat-error>
    </mat-form-field>
    </div>
    <div class="checkboxes">
        <mat-checkbox class="form-field" formControlName="caseSensitive">Diferenciar Maiúsculas de Minúsculas</mat-checkbox>
        <mat-checkbox class="form-field" formControlName="ignorarTags">Ignorar Tags</mat-checkbox>
        <mat-checkbox class="form-field" formControlName="ignorarTempo">Ignorar Marcações de Tempo</mat-checkbox>
    </div>
    <button id="submit-button" class="form-field" mat-raised-button color="primary" type="submit">Executar</button>
    <button id="clear-button" class="form-field" mat-raised-button type="button" (click)="limparForm()">Limpar</button>
</form>
</div>