<h1 id = "mensagemNenhumaTagEncontrada" *ngIf="!tagsEncontradas">Nenhuma Tag Encontrada. :(</h1>

<div *ngIf="tagsEncontradas">
    <app-relatorio-geral [legendas]="legendas" 
                         [tagsDistintas]="tagsDistintas" 
                         [regexTagGlobal]="regexTagGlobal">
    </app-relatorio-geral>
    <app-relatorio-relacoes [legendas]="legendas" 
                            [tagsDistintas]="tagsDistintas" 
                            [regexTagGlobal]="regexTagGlobal">
    </app-relatorio-relacoes>
</div>