<div id="main-screen">
    <mat-toolbar color="primary">
        <img id="logo" src="../assets/img/CS4.png"/>
        <span id="navbar-title">Concord4Subs</span>
    </mat-toolbar>
    <mat-tab-group #tabs mat-align-tabs="center">
        <mat-tab label="Opções">
            <app-concord-form (onValidSubmit)="updateTabs()"
                              (onInvalidSubmit)="hideTabs()">
            </app-concord-form>
        </mat-tab>
        <mat-tab *ngIf="tabsVisible" label="Linhas de Concordância">
            <app-lines-display [formData]="formData"
                               (onKeywordClick)="changeVideoTime($event)">
            </app-lines-display>
        </mat-tab>
        <mat-tab *ngIf="tabsVisible" label="Arquivo Original">
            <app-arquivo-original [formData]="formData">
            </app-arquivo-original>
        </mat-tab>
        <mat-tab *ngIf="tabsVisible" label="Vídeo">
            <app-video-display #videoDisplay
                               [src]="formData.videoData"
                               [time]="videoTime"
                               (onTimeChange)="onVideoTimeChange()">
            </app-video-display>
        </mat-tab>
        <mat-tab *ngIf="tabsVisible" label="Relatório de Etiquetas">
            <app-relatorio-display [formData]="formData">
            </app-relatorio-display>
        </mat-tab>
    </mat-tab-group>
</div>