.display-area{
    height: fit-content;
    max-width: 90%;
    overflow:auto;
    resize: horizontal;
    margin: auto;
}

table{
    width:100%;
    margin:0;
    padding:0;
}
.mat-row{
    height:auto;
}
.mat-cell{
    padding: 1% 1% 1% 1%;
    min-width: min-content;
}

#contexto-esquerda.mat-cell{
    text-align: right;
}

#contexto-direita.mat-cell{
    text-align: left;
}

#palavra-chave.mat-cell{
    text-align: center;
    min-width:min-content;
}

#palavra-chave.clickable-cell{
    cursor:pointer;
}

.mat-header-cell{
    text-align: center;
}

#palavra-chave.mat-cell.clickable-cell:hover{
    background-color: hsl(195, 53%, 80%);
    transition-duration: 500ms;
}

h1#mensagemNenhumaOcorrenciaEncontrada{
    margin-top: 5%;
}