.display-area{
    margin: 5%;
    height: fit-content;
    width: max-content;  
    overflow:auto;
    resize: horizontal;
}

table{
    width:100%;
    margin:0;
    padding:0;
}
.mat-row{
    height:auto;
}
.mat-cell{
    padding: 1% 1% 1% 1%;
}

#contexto-esquerda.mat-cell{
    text-align: right;
}

#contexto-direita.mat-cell{
    text-align: left;
}

#palavra-chave.mat-cell{
    text-align: center;
}

.mat-header-cell{
    text-align: center;
}